.home {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #464545;
}

.home > section:first-child {
  display: flex;
  max-width: 1366px;
  width: 100%;
  padding: 60px;
  background-image: url(../img/fondo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}
.home > section:first-child > div:first-child {
  display: flex;
  background-color: rgba(255, 255, 255, 0.514);
  width: 500px;
  height: 350px;
  margin: 20px;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
@media (max-width: 350px) {
  .home > section:first-child > div:first-child {
    width: 90%;
    padding: 20px;
  }
  .home > section:first-child > div:first-child h1 {
    font-size: 18px;
  }
  .home > section:first-child > div:first-child p {
    font-size: 12px;
  }
  .home > section:first-child > div:first-child a {
    width: auto;
    font-size: 12px;
    padding: 5px 10px;
  }
}
@media (max-width: 350px) {
  .home > section:first-child {
    padding: 0;
  }
}
.home #servicios {
  display: flex;
  max-width: 1366px;
  width: 100%;
  padding: 30px;
  background-image: url(../img/salon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home #servicios > div:first-child {
  width: 50%;
  text-align: center;
}
.home #servicios > div:first-child h2 {
  font-size: 50px;
  color: #ffffff;
}
.home #servicios > div:first-child h2 span {
  font-weight: 200;
}
.home #servicios > div:first-child p {
  color: #ffffff;
}
.home #servicios .service-grid {
  display: flex;
  width: 80%;
  align-content: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.home #servicios .service-grid .service-card {
  display: flex;
  width: 300px;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.514);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.home #servicios .service-grid .service-card img {
  width: 100%;
}
.home #servicios .service-grid .service-card h3,
.home #servicios .service-grid .service-card a {
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}
.home #servicios .service-grid .service-card p {
  color: #000000;
  font-weight: 600;
}
.home #servicios .service-grid .service-card a {
  text-decoration: none;
  border: 1px solid #000000;
  border-radius: 20px;
  padding: 5px 10px;
  transition: all 0.3s ease;
}
.home #servicios .service-grid .service-card a:hover {
  color: #ffffff;
  font-weight: 600;
  background-color: #000000;
}
@media (max-width: 350px) {
  .home #servicios .service-grid .service-card {
    width: 100%;
  }
  .home #servicios .service-grid .service-card h3, .home #servicios .service-grid .service-card a {
    font-size: 14px;
  }
  .home #servicios .service-grid .service-card a {
    padding: 3px 5px;
  }
}
@media (max-width: 350px) {
  .home #servicios {
    padding: 10px;
    background-image: none;
    background-color: #464545;
  }
  .home #servicios > div:first-child {
    width: 90%;
  }
  .home #servicios > div:first-child h2 {
    font-size: 24px;
  }
  .home #servicios > div:first-child p {
    font-size: 12px;
  }
  .home #servicios .service-grid {
    width: 90%;
  }
}

.main-footer {
  display: grid;
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  justify-content: space-evenly;
}
.main-footer > div:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px;
}
.main-footer > div:nth-child(1) a {
  text-decoration: none;
}
.main-footer > div:nth-child(1) a span {
  font-size: 28px;
  color: #ffffff;
}
.main-footer > div:nth-child(2) {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  text-align: center;
}
.main-footer > div:nth-child(2) p, .main-footer > div:nth-child(2) .fa-copyright {
  font-size: 12px;
  color: #ffffff;
}
.main-footer > div:nth-child(3) {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.main-footer > div:nth-child(3) ul {
  border-left: 2px solid #ffffff;
  padding: 20px;
  list-style: none;
}
.main-footer > div:nth-child(3) ul li {
  padding: 3px;
}
.main-footer > div:nth-child(3) ul li a {
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
.main-footer > div:nth-child(3) ul li a:hover {
  border-bottom: 2px solid #ffffff;
}
@media (max-width: 350px) {
  .main-footer {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    justify-content: space-evenly;
  }
  .main-footer > div:nth-child(1) {
    padding: 20px;
  }
  .main-footer > div:nth-child(1) a span {
    font-size: 20px;
  }
  .main-footer > div:nth-child(3) {
    grid-row: 2/3;
  }
  .main-footer > div:nth-child(3) ul {
    padding: 10px;
  }
  .main-footer > div:nth-child(3) ul li {
    padding: 0;
  }
  .main-footer > div:nth-child(3) ul li a {
    font-size: 12px;
  }
}

/*# sourceMappingURL=estilos.css.map */
