/* FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.icon-whatsapp {
    display: flex;
    position: fixed;
    margin-left: 90%;
    margin-top: 30%;
    width: 5em;
    height: 5em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.61);
}

.icon-whatsapp .fa-whatsapp {
    color: #0cdb2f;
    font-size: 50px;
}

header .navbar {
    background-color: #000000 !important;
}

.navbar-nav li a {
    color: #e9ce9f;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    margin: 3px;
    border-radius: 10px;
}

.navbar-nav li a:hover {
    color: #000000;
    background-color: #e9ce9f;
    border-radius: 10px;
    transition: all 0.5s;
}

.navbar .dropdown-menu {
    padding: 10px 10px;
    background-color: #000000;
}

.navbar .dropdown-menu .dropdown-item {
    margin: 0px;
}

header nav .logo-marca {
    width: 80px;
    height: 80px;
}

.navbar .navbar-toggler {
    color: #e9ce9f;
}

/* FIN DEL NAV */
.home{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #464545;
}
/* COMIENZO DE SECTION HERO */

.home .section-hero {
    display: flex;
    max-width: 1366px;
    width: 100%;
    padding: 60px;
    background-image: url(../img/fondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}

.home .section-hero .content-hero {
    display: flex;
    background-color: rgba(255, 255, 255, 0.514);
    width: 500px;
    height: 350px;
    margin: 20px;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.content-hero p, a{
    font-weight: 600;
    font-size: 1em;
}

.content-hero a {
    width: 160px;
    color: #000000;
    border: 1px solid black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

.content-hero a:hover {
    color: #ffffff;
    background-color: #000000;
}

.content-logo {
    width: 30%;
    height: 30%;
}

.content-logo .logo {
    width: 100%;
    border-radius: 50%;
    border: 1px solid black;
}

/* INICIO CARROUSEL */

.carrusel{
    max-width: 1366px;
}

/* FIN CARROUSEL */

/* INICIO DE SECCION SECUNDARIA */

.home .section-secundaria {
    display: flex;
    max-width: 1366px;
    width: 100%;
    padding: 30px;
    background-image: url(../img/salon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.home .section-secundaria div {
    width: 50%;
    text-align: center;
}

.home .section-secundaria div h2,
span {
    font-size: 50px;
    color: #ffffff;
}

.home .section-secundaria h2 span {
    font-weight: 200;
}

.home .section-secundaria div p {
    color: #ffffff;
}

.home .section-secundaria .content-servicios {
    display: flex;
    width: 80%;
    align-content: center;
    justify-content: space-evenly;
    flex-flow: row wrap;
}

.home .section-secundaria .content-servicios .nuestros-servicios {
    display: flex;
    width: 300px;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.514);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.nuestros-servicios img {
    width: 100%;
}

.nuestros-servicios h3,
a {
    margin: 10px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}

.nuestros-servicios a {
    text-decoration: none;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
}

.section-secundaria .nuestros-servicios a:hover {
    color: #ffffff;
    font-weight: 600;
    background-color: #000000;
}

/* COMIENDO DEL PIE DE PAGINA */

.pie-pagina {
    display: grid;
    width: 100%;
    background-color: #000000;
    color: #e9ce9f;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    justify-content: space-evenly;
}

.pie-pagina .content-icon {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.pie-pagina a span {
    font-size: 28px;
    color: #e9ce9f;
}

.pie-pagina .content-central {
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    text-align: center;
}

.content-central .fa-copyright {
    font-size: 12px;
    color: #e9ce9f;
}

.content-central p {
    font-size: 12px;
    color: #e9ce9f;
}

.pie-pagina .content-menu {
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.content-menu ul {
    border-left: 2px solid #e9ce9f;
    padding: 20px;
    list-style: none;
}

.content-menu ul li {
    padding: 3px;
}

.content-menu ul li a {
    text-decoration: none;
    font-weight: 600;
    color: #e9ce9f;
    text-transform: uppercase;
}

.content-menu ul li a:hover {
    border-bottom: 2px solid #e9ce9f;
}

/* FIN DEL PIE DE PAGINA */

/* NOSOTROS */
.nosotros{
    display: flex;
    justify-content: center;
    background-color: #464545;
}

.nosotros section {
    display: flex;
    max-width: 1366px;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: url("../img/fondo2-degradado.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.nosotros section div {
    display: flex;
    width: 80%;
    padding: 20px;
    /* margin: 20px; */
    background-color: rgba(255, 255, 255, 0.514);
}

.nosotros section div p {
    padding: 20px;
    font-size: 14px;
    color: #000;
}

/* FIN DE NOSOTROS */

/* INICIO DE SERVICIOS */
.servicios{
    display: flex;
    margin: 0 auto;
    max-width: 1366px;
}

.servicios section .titulo-servicios{
    background-image: url(../img/bg5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1366px;
    padding: 60px;
    text-align: center;
}

.servicios section .titulo-servicios h2{
    color: #e9ce9f;
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
}

.content-servicios{
    display: flex;
    width: 100%;
    max-width: 1366px;
    margin-bottom: 50px;
    justify-content: space-between;
    align-items: center;
}

.content-servicios .img-servicio{
    width: 200px;
    height: auto;
}

.content-servicios div{
    width: 90%;
    padding: 20px 50px;
}
.content-servicios .tabla {
    display: flex;
    justify-content: start;
    align-items: center;
}

.content-servicios .tabla .subtitulo-servicio{
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.tabla tr{
    border-bottom: 1px solid black;
}

.tabla tr th, td{
    padding: 20px;
    font-size: 14px;
}

.tabla .boton-servicio{
    border: none;
}

.content-servicios div .boton-servicio{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 40px;
    padding: 5px 30px;
    border-radius: 20px;
    background-color: #000;
    color: #ffffff;
}

/* FIN DE SERVICIOS */

/* INICIO DE CONTACTO */
.contacto{
    background-color: #464545;
}
.contacto .section-contacto {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 1366px;
    width: 100%;
    height: 100vh;
    align-items: center;
    background-image: url(../img/fondo2-degradado.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px;
    text-align: center;
}

.contacto .section-contacto .titulo-contacto {
    color: #ffffff;
    font-size: 24px;
}

.content-form {
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff69;
    padding: 30px;
}

.content-form input,
.caja-texto {
    width: 100%;
    font-size: 14px;
    margin: 5px;
    padding: 5px;
}

.content-form .caja-texto {
    height: 250px;
}

.content-mapa-redes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.content-mapa-redes div h3,
.mapa-contacto h3 span {
    color: #ffffff;
    font-size: 24px;
}

.mapa-contacto .mapa-pie {
    width: 100%;
    height: 80%;
}

.redes-contacto {
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: space-evenly;
}

.content-redes {
    display: flex;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.24);
}

.content-redes i {
    color: #e9ce9f;
    font-size: 2em;
}

/* FIN DE CONTACTO */

/* INICIO DE CURSOS */
.fondo-curso {
    background-color: #464545;
    max-width: 1366px;
    margin: 0 auto;
}

.cursos {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
}

.content-info {
    display: flex;
    margin-top: 30px;
}

.content-info img {
    width: 50%;
}

.content-info div {
    margin-left: 10px;
}

.content-info h2 {
    text-align: center;
    text-transform: uppercase;
    padding: 20px;
    color: #e9ce9f;
    background-color: #000000;
}

.content-info p {
    padding: 50px;
    color: #e9ce9f;
}

.content-all-icon {
    display: flex;
    width: 100%;
    height: 80px;
    padding: 10px;
    margin-top: 10px;
    justify-content: space-evenly;
    background-color: black;
}

.content-icon-curso {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
}

.content-icon-curso i {
    font-size: 30px;
    color: #e9ce9f;
}

.content-icon-curso h4 {
    font-size: 16px;
    color: #e9ce9f;
}

.content-curso .content-temas {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.content-temas h3 {
    text-transform: uppercase;
    color: #e9ce9f;
}

.content-temas ul {
    list-style: none;
}

.content-temas ul li {
    color: #e9ce9f;
}

.content-temas div:nth-last-child(1) {
    margin-right: 100px;
}

.content-temas div .form-curso {
    width: 350px;
    height: 450px;
}

.content-temas div .titulo-form {
    color: #e9ce9f;
    font-size: 18px;
    text-align: center;
}

/* FIN DE CURSOS */

/* MEDIA QUERY */

@media screen and (max-width:445px) {

    /* HERO */

    .section-hero {
        padding: 0px;
    }

    .content-hero p {
        font-size: 14px;
    }

    .content-hero a {
        width: auto;
        font-size: 14px;
        padding: 5px 10px;
    }

    /* INICIO DE SECCION SECUNDARIA */

    main .section-secundaria {
        padding: 10px;
        background-image: none;
        background-color: #464545;
    }

    .section-secundaria div {
        width: 100%;
    }

    .section-secundaria div h2,
    span {
        font-size: 24px;
    }

    .section-secundaria div p {
        font-size: 14px;
    }

    .section-secundaria .content-servicios {
        width: 100%;
    }

    .nuestros-servicios h3,
    a {
        font-size: 18px;
    }

    /* FOOTER */

    .icon-whatsapp {
        width: 60px;
        height: 60px;
        margin-left: 80%;
        margin-top: 20%;
    }

    .icon-whatsapp .fa-whatsapp {
        font-size: 2.5em;
    }

    .pie-pagina {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        justify-content: space-evenly;
    }

    .pie-pagina .content-icon {
        padding: 20px;
    }

    .pie-pagina a span {
        font-size: 20px;
    }

    .content-central .fa-copyright {
        font-size: 12px;
    }

    .pie-pagina .content-menu {
        grid-row: 2 / 3;
    }

    .content-menu ul {
        padding: 10px;
    }

    .content-menu ul li {
        padding: 0px;
    }

    .content-menu ul li a {
        font-size: 12px;
    }

    /* NOSOTROS */

    .container-nosotros {
        display: flex;
        flex-direction: column;
        width: 90%;
        padding: 20px;
        margin: 20px;
    }

    .container-nosotros p {
        padding: 20px;
        font-size: 14px;
        color: #000;
    }

    /* CONTACTO */

    .section-contacto {
        flex-direction: column;
        padding: 20px;
    }

    .section-contacto .titulo-contacto {
        font-size: 18px;
    }

    .content-form {
        width: 310px;
        padding: 20px;
    }

    .content-form input,
    .caja-texto {
        font-size: 12px;
        margin: 3px;
        padding: 3px;
    }

    .content-form .caja-texto {
        height: 100px;
    }

    .content-mapa-redes {
        width: 100%;
    }

    .content-mapa-redes div h3,
    .mapa-contacto h3 span {
        color: #ffffff;
        font-size: 18px;
    }

    .content-redes {
        width: 3em;
        height: 3em;
    }

    .content-redes i {
        font-size: 24px;
    }

    /* CURSOS */

    .content-info {
        flex-direction: column;
    }

    .content-info img {
        width: 100%;
    }

    .content-info div {
        margin: 0px;
    }

    .content-info h2 {
        font-size: 18px;
    }

    .content-info p {
        padding: 10px;
        font-size: 14px;
    }

    .content-all-icon {
        display: flex;
        width: 100%;
        height: 80px;
        padding: 10px;
        margin-top: 10px;
        justify-content: space-evenly;
        background-color: black;
    }

    .content-icon-curso {
        text-align: center;
        margin: 3px;
    }

    .content-icon-curso i {
        font-size: 16px;
    }

    .content-icon-curso h4 {
        font-size: 10px;
    }

    .content-curso .content-temas {
        flex-direction: column;
        margin-top: 10px;
    }

    .content-temas h3 {
        font-size: 18px;
    }

    .content-temas ul li {
        font-size: 14px;
    }

    .content-temas div:nth-last-child(1) {
        margin: 0px;
    }

    .content-temas div .form-curso {
        width: 100%;
        height: 300px;
        padding: 20px;
    }
}