/* FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.icon-whatsapp{
    display: flex;
    position: fixed;
    left: 92%;
    top: 55%;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    
    background-color: rgba(255, 255, 255, 0.301);

}

.icon-whatsapp .fa-whatsapp{
    color: #0cdb2f;
    font-size: 80px;
}
header .navbar{
    background-color: #000000 !important;

}

.navbar-nav li a{
    color: #e9ce9f;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    margin: 3px;
    border-radius: 10px;
}

.navbar-nav li a:hover{
    color: #000000;
    background-color: #e9ce9f;
    border-radius: 10px;
    transition: all 0.5s;
}

.navbar .dropdown-menu{
    padding: 10px 10px;
    background-color: #000000;
}

.navbar .dropdown-menu .dropdown-item{
    margin: 0px;
}

header nav .logo-marca {
    width: 80px;
    height: 80px;
}

.navbar .navbar-toggler
{
    color: #e9ce9f;
}

/* FIN DEL NAV */

/* COMIENZO DE SECTION HERO */

.section-hero {
    display: flex;
    width: 100%;
    padding: 20px;
    background-image: url(../img/fondo.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
    flex-flow: row wrap;
    align-items: center;
}

.section-hero .content-hero {
    display: flex;
    background-color: rgba(255, 255, 255, 0.301);
    border-radius: 30px;
    width: 500px;
    height: 350px;
    margin: 30px;
    padding: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}

.content-hero p {
    font-weight: 600;
}

.content-hero a {
    width: 160px;
    color: #000000;
    font-weight: 600;
    border: 1px solid black;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 5px;
    border-radius: 20px;
}

.content-hero a:hover {
    color: #ffffff;
    background-color: #000000;
}

.content-logo .logo {
    width: 450px;
    height: 450px;
    border-radius: 50%;
}

/* INICIO DE SECCION SECUNDARIA */

main .section-secundaria {
    display: flex;
    width: 100%;
    padding: 30px;
    background-image: url(../img/salon.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.section-secundaria .t-secundario {
    font-size: 50px;
}

.section-secundaria h2 span {
    font-weight: 200;
}

.t-secundario, .p-secundario {
    text-align: center;
    width: 50%;
    color: #ffffff;
}

.section-secundaria .content-servicios {
    display: flex;
    width: 70%;
    align-content: center;
    justify-content: space-around;
    flex-flow: row wrap;
}

.content-servicios .nuestros-servicios {
    display: flex;
    width: 300px;
    height: auto;
    margin: 10px;
    padding: 20px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.514);
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.nuestros-servicios img {
    width: 95%;
    border-radius: 20px;
}

.nuestros-servicios h3{
    font-size: 20px;
    font-weight: 600;
    color: #000000;
}
.nuestros-servicios a {
    color: #000000;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px 10px;
}

.section-secundaria .nuestros-servicios a:hover {
    color: #ffffff;
    font-weight: 600;
    background-color: #000000;
}

/* COMIENDO DEL PIE DE PAGINA */

.pie-pagina {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #e9ce9f;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.pie-pagina .content-icon {
    display: flex;
    width: 361px;
    height: 100%;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.pie-pagina .content-icon a span,
.fa-brands,.fa-facebook,
.fa-brands,.fa-instagram,
.fa-brands,.fa-x-twitter,
.fa-brands,.fa-youtube {
    font-size: 28px;
    color: #e9ce9f;
}

.pie-pagina .content-central {
    display: flex;
    width: 361px;
    flex-direction: column;
    align-content: center;
}

.content-central p {
    font-size: 12px;
    color: #e9ce9f;
    margin-top: 20px;
}

.content-central .mapa-pie {
    width: 90%;
    height: 150px;
    border-radius: 15px;
}

.content-central h3 {
    text-align: center;
    font-weight: 200;
    margin-top: 10px;
    font-size: 18px;
    color: #e9ce9f;
}

.pie-pagina .content-menu-footer {
    width: 360px;
    text-align: center;
}

.content-menu-footer ul {
    width: 100%;
    padding: 20px;
    list-style: none;
}

.content-menu-footer ul li{
    padding: 3px;
}

.content-menu-footer ul li a {
    text-decoration: none;
    font-weight: 600;
    padding: 3px 5px;
    color: #e9ce9f;
    text-transform: uppercase;
}

.content-menu-footer ul li a:hover{
    border-bottom: 3px solid #e9ce9f;
    border-radius: 10px;
}
/* FIN DEL PIE DE PAGINA */

/* NOSOTROS */

.content-all {
    display: flex;
    width: 100%;
    padding: 30px;
    background-image: url("../img/fondo2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: center;
}

.nosotros-text {
    width: 600px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 600;
    text-align: center;
}

.content-all .content-photo {
    width: 600px;
    overflow: hidden;
    border-top-left-radius: 80px;
    border-bottom-right-radius: 80px;
}

/* FIN DE NOSOTROS */

/* INICIO DE SERVICIOS */

/* FIN DE SERVICIOS */

/* INICIO DE CURSOS */
.cursos{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    width: 100%;
    /* background-color: #9e9e9e4b; */

}
.divisor-curso{
    display: flex;
    background-color: #e9ce9f;
    color: #000;
    width: 100%;
    padding: 20px;
    justify-content: center;
}
.cursos .titulo-curso{
    margin-top: 20px;
}
.cursos .content-curso{
    display: grid;
    width: 80%;
    padding: 10px;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 500px 130px;
    grid-template-areas: "descripcion   descripcion"
                         "ventaja       ventaja    ";
}

.content-curso .imagen{
    width: 350px;
    border-radius: 20px;
}

.descripcion{
    display: flex;
    justify-content: space-between;
    grid-area: descripcion;
    padding: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
}
.descripcion h4{
    font-size: 16px;
}

.content-temas{
    border-left: 2px solid #e9ce9f;
    padding: 20px ;
}
.content-curso ul li{
    font-size: 14px;
}

.ventaja{
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: ventaja;
    padding: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.1);
}



/* FIN DE CURSOS */

/* INICIO CONTACTO */ 