/* FUENTES */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{    
    font-family: Poppins, sans-serif;
}

.content-all{
    background-color: #b6b6b6;
}

/* COMIENZO DEL NAV */

header
{
    display: flex;
    width: 100%;
    background-color: #000000;
    /* height: 150px; */
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.menu ul
{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    flex-wrap: nowrap;
}

.menu ul li
{
    padding: 5px;
    border-right: 2px solid #e9ce9f;
}

.menu ul li a
{
    text-decoration: none;
    font-weight: 600;
    color: #e9ce9f;
    text-transform: uppercase;
}

.menu ul li:hover a
{
    /* width: 100%; */
    background-color: #e9ce9f;
    padding: 5px;
    color: #000;
    border-radius: 5px;
    transition: all 0.5s;
}

.content-marca
{
    display: flex;
    width: 55%;
    justify-content: start;
    align-items: center;
}

.content-marca p
{
    font-size: 24px;
    font-weight: 600;
    color: #e9ce9f;
}
.content-marca .logo-marca
{
    width: 100px;
    height: 100px;
}

/* FIN DEL NAV */

/* COMIENDO DEL PIE DE PAGINA */

.pie-pagina
{
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000000;
    color: #e9ce9f;
    flex-wrap: wrap;
    /* align-items: center; */
    align-items: center;
    justify-content: space-around;
}

.pie-pagina .content-icon
{
    display: flex;
    width: 361px;
    height: 100%;
    /* border: 1px solid white; */
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.pie-pagina .content-icon a span,
.fa-brands, .fa-facebook,
.fa-brands, .fa-instagram,
.fa-brands, .fa-x-twitter,
.fa-brands, .fa-youtube
{
    font-size: 28px;
    color: #e9ce9f;
}

.pie-pagina .content-central
{
    display: flex;
    width: 361px;
    /* border: 1px solid white; */
    flex-direction: column;
    align-content: center;
}
.pie-pagina .content-central p
{  
    font-size: 12px;
}
.pie-pagina .content-central .mapa-pie
{
    width: 90%;
    height: 150px;
    border-radius: 15px;
}

.pie-pagina .content-central h3
{
    text-align: center;
    font-weight: 200;
}

.pie-pagina .content-menu-footer
{
    width: 361px;
    /* border: 1px solid white; */
    text-align: center;
}
 
.pie-pagina .content-menu-footer ul
{
    width: 100%;
    padding: 20px;
    list-style: none;
    /* border-left: 3px solid #ffffff; */
}

.pie-pagina .content-menu-footer ul li a
{
    text-decoration: none;
    font-weight: 600;
    color: #e9ce9f;
    text-transform: uppercase;
}

/* FIN DEL PIE DE PAGINA */

/* INICIO DE SERVICIOS */

.servicios
{
    display: grid;
    margin: 50px auto;
    grid-gap: 10px;
    width: 50%;
    height: auto;
    padding: 20px;
    /* background-color: #ffffff6b;
    border: 1px solid black;
    border-radius: 20px;*/
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);

}
.content-serv
{
    /* background-color: #FAA18F; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    border-radius: 20px;
    box-shadow: 5px 5px 10px 2px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    
    
}

.servicios .item1{
    grid-column: span 2;
}

.servicios .item3{
    grid-row: span 2;
}

.servicios .item5{
    grid-column: span 2;
}

.servicios .item6{
    grid-area: 3 / 1 / 5 / 3;
}

.servicios .item9{
    grid-column: span 2;
}
.content-serv span
{
    text-align: center;
    font-size: 14px;
    font-weight: 600;
}

.content-serv img
{
    width: 100%;
    height: 100%;
    
}

/* FIN DE SERVICIOS */

