@mixin boton-1 ($text-deco , $mayuscula , $borde , $borde-r , $padding , $color, $negrita){
    text-decoration: $text-deco;
    text-transform: $mayuscula;
    border: $borde;
    border-radius: $borde-r;
    padding: $padding;
    color: $color;
    font-weight: $negrita;
}

$color: black;
$grosor: 600;
$text-mediano: 16px;

.home {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #464545;
}
.home .section-hero {
  display: flex;
  max-width: 1366px;
  width: 100%;
  padding: 60px;
  background-image: url(../img/fondo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}
.home .section-hero .content-hero {
  display: flex;
  background-color: rgba(255, 255, 255, 0.514);
  width: 500px;
  height: 350px;
  margin: 20px;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.home .section-hero .content-hero h1 {
  font-size: 32px;
}
.home .section-hero .content-hero p,
.home .section-hero .content-hero a {
  font-weight: 600;
  font-size: 1em;
}
.home .section-hero .content-hero a {
  @include boton-1(none , uppercase , 1px solid black , 20px , 5px 10px, black, 700)
}
.home .section-hero .content-hero a:hover {
  color: #ffffff;
  background-color: #000000;
}
.home .section-hero .content-logo {
  width: 30%;
  height: 30%;
}
.home .section-hero .content-logo .logo {
  width: 100%;
  border-radius: 50%;
  border: 1px solid black;
}
.home .carrusel {
  max-width: 1366px;
}
.home .section-secundaria {
  display: flex;
  max-width: 1366px;
  width: 100%;
  padding: 30px;
  background-image: url(../img/salon.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.home .section-secundaria div {
  width: 50%;
  text-align: center;
}
.home .section-secundaria div h2,
.home .section-secundaria div span {
  font-size: 50px;
  color: #ffffff;
}
.home .section-secundaria div h2 span,
.home .section-secundaria div span span {
  font-weight: 200;
}
.home .section-secundaria div p {
  color: #ffffff;
}
.home .section-secundaria .content-servicios {
  display: flex;
  width: 80%;
  align-content: center;
  justify-content: space-evenly;
  flex-flow: row wrap;
}
.home .section-secundaria .content-servicios .nuestros-servicios {
  display: flex;
  width: 300px;
  height: auto;
  padding: 20px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.514);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.home .section-secundaria .content-servicios .nuestros-servicios img {
  width: 100%;
}
.home .section-secundaria .content-servicios .nuestros-servicios h3,
.home .section-secundaria .content-servicios .nuestros-servicios a {
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  color: #000000;
}

.home .section-secundaria .content-servicios .nuestros-servicios p{
    color: $color;
    font-weight: $grosor;
    font-size: $text-mediano;
}

.home .section-secundaria .content-servicios .nuestros-servicios a {
  @include boton-1(none , uppercase , 1px solid black , 20px , 5px 10px, black , 700)
}
.home .section-secundaria .content-servicios .nuestros-servicios a:hover {
  color: #ffffff;
  font-weight: 600;
  background-color: #000000;
}
