@media screen and (max-width:450px) {

     .icon-whatsapp {
        width: 60px;
        height: 60px;
        margin-left: 80%;
        margin-top: 20%;
    }

    .icon-whatsapp .fa-whatsapp {
        font-size: 2.5em;
    }
    /* HOME */

    .home .section-hero {
        padding: 0px;
    }

    .home .section-hero .content-hero {
        width: 90%;
    }

    .home .section-hero .content-hero h1 {
        font-size: 24px;
    }

    .home .section-hero .content-hero p {
        font-size: 12px;
    }

    .home .section-hero .content-hero a {
        width: auto;
        font-size: 12px;
        padding: 5px 10px;
    }

    .home .section-secundaria {
        padding: 10px;
        background-image: none;
        background-color: #464545;
    }

    .home .section-secundaria div {
        width: 90%;
        text-align: center;
    }

    .home .section-secundaria div h2,
    span {
        font-size: 24px;
    }

    .home .section-secundaria div p {
        font-size: 12px;
    }

    .home .section-secundaria .content-servicios {
        width: 90%;
    }

    .home .section-secundaria .content-servicios .nuestros-servicios {
        width: 100%;
    }

    .home .section-secundaria .content-servicios .nuestros-servicios h3,
    a {
        font-size: 14px;
    }

    .home .section-secundaria .content-servicios .nuestros-servicios a {
        padding: 3px 5px;
    }

    /* FOOTER */

    .pie-pagina {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        justify-content: space-evenly;
    }

    .pie-pagina .content-icon {
        padding: 20px;
    }

    .pie-pagina .content-icon a span {
        font-size: 20px;
    }

    .content-central .fa-copyright {
        font-size: 12px;
    }

    .pie-pagina .content-menu {
        grid-row: 2 / 3;
    }

    .content-menu ul {
        padding: 10px;
    }

    .content-menu ul li {
        padding: 0px;
    }

    .content-menu ul li a {
        font-size: 12px;
    }

    /* NOSOTROS */

    .nosotros section {
        height: 100%;
        padding: 20px;
    }

    .nosotros section div {
        width: 100%;
        flex-direction: column;
    }

    .nosotros section div p {
        padding: 10px;
        font-size: 12px;
    }

    /* CONTACTO */

    .contacto .section-contacto {
        height: 100%;
        padding: 20px;
        flex-direction: column;
    }

    .section-contacto .titulo-contacto {
        font-size: 18px;
    }

    .content-form {
        width: 310px;
        padding: 20px;
    }

    .content-form input,
    .caja-texto {
        font-size: 12px;
        margin: 3px;
        padding: 3px;
    }

    .content-form .caja-texto {
        height: 100px;
    }

    .content-mapa-redes {
        width: 100%;
    }

    .content-mapa-redes div h3,
    .mapa-contacto h3 span {
        color: #ffffff;
        font-size: 18px;
    }

    .content-redes {
        width: 3em;
        height: 3em;
    }

    .content-redes i {
        font-size: 24px;
    }

    /* CURSOS */

    .content-info {
        flex-direction: column;
    }

    .content-info img {
        width: 100%;
    }

    .content-info div {
        margin: 0px;
    }

    .content-info h2 {
        font-size: 18px;
    }

    .content-info p {
        padding: 10px;
        font-size: 14px;
    }

    .content-icon-curso {
        text-align: center;
        margin: 3px;
    }

    .content-icon-curso i {
        font-size: 14px;
    }

    .content-icon-curso h4 {
        font-size: 10px;
    }

    .content-curso .content-temas {
        flex-direction: column;
        margin-top: 10px;
    }

    .content-temas h3 {
        font-size: 18px;
    }

    .content-temas ul li {
        font-size: 14px;
    }

    .content-temas div:nth-last-child(1) {
        margin: 0px;
    }

    .content-temas div .form-curso {
        width: 70%;
        height: 300px;
        margin: auto;
        padding: 20px;
    }

    /* SERVICIOS */

    .servicios .content-tabla {
        display: none;
    }

    .servicios .responsive-350 {
        display: inline-block;
        background-color: #ffffff;
    }
}

@media screen and (max-width:350px) {

    /* HOME */

    .home .section-hero {
        padding: 0px;
    }

    .home .section-hero .content-hero {
        width: 90%;
    }

    .section-hero .content-hero h1 {
        font-size: 18px;
    }


    .content-hero p {
        font-size: 12px;
    }

    .content-hero a {
        width: auto;
        font-size: 12px;
        padding: 5px 10px;
    }

    .home .section-secundaria {
        padding: 10px;
        background-image: none;
        background-color: #464545;
    }

    .home .section-secundaria div {
        width: 90%;
        text-align: center;
    }

    .home .section-secundaria div h2,
    span {
        font-size: 24px;
    }

    .home .section-secundaria div p {
        font-size: 12px;
    }

    .home .section-secundaria .content-servicios {
        width: 90%;
    }

    .home .section-secundaria .content-servicios .nuestros-servicios {
        width: 100%;
    }

    .home .section-secundaria .content-servicios .nuestros-servicios h3,
    a {
        font-size: 14px;
    }

    .home .section-secundaria .content-servicios .nuestros-servicios a {
        padding: 3px 5px;
    }

    /* FOOTER */

    .icon-whatsapp {
        width: 60px;
        height: 60px;
        margin-left: 80%;
        margin-top: 20%;
    }

    .icon-whatsapp .fa-whatsapp {
        font-size: 2.5em;
    }

    .pie-pagina {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr;
        justify-content: space-evenly;
    }

    .pie-pagina .content-icon {
        padding: 20px;
    }

    .pie-pagina a span {
        font-size: 20px;
    }

    .content-central .fa-copyright {
        font-size: 12px;
    }

    .pie-pagina .content-menu {
        grid-row: 2 / 3;
    }

    .content-menu ul {
        padding: 10px;
    }

    .content-menu ul li {
        padding: 0px;
    }

    .content-menu ul li a {
        font-size: 12px;
    }

    /* NOSOTROS */

    .nosotros section {
        height: 100%;
        padding: 20px;
    }

    .nosotros section div {
        width: 100%;
        flex-direction: column;
    }

    .nosotros section div p {
        padding: 10px;
        font-size: 12px;
    }

    /* CONTACTO */

    .contacto .section-contacto {
        height: 100%;
        padding: 20px;
        flex-direction: column;
    }

    .section-contacto .titulo-contacto {
        font-size: 18px;
    }

    .content-form {
        width: 310px;
        padding: 20px;
    }

    .content-form input,
    .caja-texto {
        font-size: 12px;
        margin: 3px;
        padding: 3px;
    }

    .content-form .caja-texto {
        height: 100px;
    }

    .content-mapa-redes {
        width: 100%;
    }

    .content-mapa-redes div h3,
    .mapa-contacto h3 span {
        color: #ffffff;
        font-size: 18px;
    }

    .content-redes {
        width: 3em;
        height: 3em;
    }

    .content-redes i {
        font-size: 24px;
    }

    /* CURSOS */

    .content-info {
        flex-direction: column;
    }

    .content-info img {
        width: 100%;
    }

    .content-info div {
        margin: 0px;
    }

    .content-info h2 {
        font-size: 18px;
    }

    .content-info p {
        padding: 10px;
        font-size: 14px;
    }

    .content-icon-curso {
        text-align: center;
        margin: 3px;
    }

    .content-icon-curso i {
        font-size: 14px;
    }

    .content-icon-curso h4 {
        font-size: 10px;
    }

    .content-curso .content-temas {
        flex-direction: column;
        margin-top: 10px;
    }

    .content-temas h3 {
        font-size: 18px;
    }

    .content-temas ul li {
        font-size: 14px;
    }

    .content-temas div:nth-last-child(1) {
        margin: 0px;
    }

    .content-temas div .form-curso {
        width: 70%;
        height: 300px;
        margin: auto;
        padding: 20px;
    }

    /* SERVICIOS */

    .servicios .content-tabla {
        display: none;
    }

    .servicios .responsive-350 {
        display: inline-block;
        background-color: #ffffff;
    }

    .servicios .responsive-350 div:nth-child(odd) {
        background-color: #4645455d;
    }
}