header .navbar {
    background-color: #000000 !important;
}

.navbar-nav li a {
    color: #e9ce9f;
    font-weight: 600;
    font-size: 1em;
    text-transform: uppercase;
    margin: 3px;
    border-radius: 10px;
}

.navbar-nav li a:hover {
    color: #000000;
    background-color: #e9ce9f;
    border-radius: 10px;
    transition: all 0.5s;
}

.navbar .dropdown-menu {
    padding: 10px 10px;
    background-color: #000000;
}

.navbar .dropdown-menu .dropdown-item {
    margin: 0px;
}

header nav .logo-marca {
    width: 80px;
    height: 80px;
}

.navbar .navbar-toggler {
    color: #e9ce9f;
}