.section-hero {
  display: flex;
  width: 100%;
  padding: 60px;
  background-image: url(../img/fondo.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-around;
  flex-flow: row wrap;
  align-items: center;
}
.section-hero .content-hero {
  display: flex;
  background-color: rgba(255, 255, 255, 0.514);
  width: 500px;
  height: 350px;
  margin: 20px;
  padding: 20px;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}
.section-hero .content-hero p {
  font-weight: 600;
  font-size: 1em;
}
.section-hero .content-hero a {
  width: 160px;
  color: #000000;
  font-weight: 600;
  font-size: 1em;
  border: 1px solid black;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
}
.section-hero .content-hero a:hover {
  color: #ffffff;
  background-color: #000000;
}
.section-hero .content-logo {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  overflow: hidden;
}
.section-hero .content-logo .logo {
  width: 100%;
  border: 1px solid black;
}
