.nosotros{
    display: flex;
    justify-content: center;
    background-image: url("../img/fondo2-degradado.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .container-nosotros{
    display: flex;
    width: 80%;
    padding: 20px;
    margin: 20px;
    background-color: rgba(255, 255, 255, 0.514);
    p{
    padding: 20px;
    font-size: 14px;
    color: #000;
    }
    img{

    }
    }
}